.button {
   background: firebrick;
   color: white;
   font-size: 10px;
}

.card {
   width: 70vw;
   height: 6vh;
   background: darkgray;
   margin: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 10px;
}
